@mixin media($margin: 1em) {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }

  & > &__img {
    float: left;
    margin-right: $margin;

    & > img {
      display: block;
    }

    & > &--ext {
      float: right;
      margin-left: $margin;
    }
  }

  & > &__body {
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

.media {
  @include media;
}