@mixin media($margin: 1em) {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }

  & > &__img,
  & > &__img-ext {
    & > img {
      display: block;
    }
  }

  & > &__img {
    float: left;
    margin-right: $margin;
  }

  & > &__img-ext {
    float: right;
    margin-left: $margin;
  }

  & > &__body {
    overflow: hidden;
  }
}

.media {
  @include media;
}